
<div class="jumbotron text-center">
  <h1>My Cart</h1>
</div>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h3>
        <% @hotels.each do |hotel| %>
        <li> <%= hotel.name %></li>
        <% end %>
      </h3>
    </section>
  </aside>
</div>
