<aside class="col-md-4"
<div>
<%= link_to "Add to cart", "#" , class: "btn btn-lg btn-primary" %>
<%= link_to "Checkout", "#" , class: "btn btn-lg btn-primary" %>
</div>
</aside>

<!-- <h3 class=>This hotel has benn visited <span></span>times</h3> -->
