<div class="row">

</div>
<%= @hotel.name %><%= @hotel.address %>
<h2>This hotel has been visited <span class = "label label-default">
  <%= @count %>
 </span></h2>
<aside class="col-md-4"
<div>
<%= link_to "Add to cart", hotel_add_to_cart_path(hotel_id: @hotel.id) , method: :post ,class: "btn btn-lg btn-primary"  %>
</div>
</aside>

</div>

<!-- <h3 class=>This hotel has benn visited <span></span>times</h3> -->
